body{
    overflow-x: hidden;
    width: 100%;
}

nav a img{
    width: 100px;
}

nav ul img{
    width: 40px;
}

body{
    background-color: #282828;
}
.nav-link{
    color: white;
}

.navbar-nav .nav-link.active{
    color: white;
}

h2{
    color: white;
    margin-right: 20px;
    margin-block: 20px;
}

h3{
    color: white;
    font-size: 20px;
}

#logout a{
    background-color: red;
    color: white;
}

#genresButton{
    background-color: black;
    color: white;
}

#languageButton{
    background-color: black;
    color: white;
    width: 120px;
    text-align: left;
}

#avatarButton{
    color: white;
}

.linkSeries{
    text-decoration: none;
    color: white;
}

.linkSeries:hover{
    color: red;
}

i, svg{
    color: white;
    cursor: pointer;
}

.carousel-item{
    width: 16%;
}

.footer-button{
    background-color: #282828;
    color: #6c757d;
    border: 1px solid #6c757d;
    border-color: #6c757d;
}

.icons-footer{
    margin-inline: 10px;
}

.carousel-control-next{
    width: 10%;
}

.carousel-control-prev{
    width: 3%;
}

p{
    color: #6c757d;
    font-size: 10px;
}

#copyright{
    color: #6c757d;
}

main{
    width: 30%;
    margin-inline: auto;
}

main h1{
    color: white;
}

#showTitles{
    font-size: 15px;
}

label{
    font-size: 14px;
}

.save-button{
    background-color: white;
    color: #282828;
    border: 0;
    font-weight: bold;
}


@media screen and (max-width: 576px) {
    h2{
        font-size: 12px;
    }

    #genresButton{
        width: 80px;
        font-size: 10px;
    }
    
    .carousel-item{
        width: 35%;
    }

    .carousel-control-next{
        width: 3%;
    }
    
    .carousel-control-prev{
        width: 3%;
    }
}

@media screen and (min-width: 576px) {
    h2{
        font-size: 12px;
    }

    #genresButton{
        width: 80px;
        font-size: 10px;
    }
    
    .carousel-item{
        width: 35%;
    }

    .carousel-control-next{
        width: 2%;
    }
    
    .carousel-control-prev{
        width: 2%;
    }
}

@media screen and (min-width: 768px) {
    h2{
        font-size: 20px;
    }

    #genresButton{
        width: 100px;
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {
    h2{
        font-size: 25px;
    }

    #genresButton{
        width: 100px;
        font-size: 15px;
    }
    
    .carousel-item{
        width: 16%;
    }

    .carousel-control-next{
        width: 1%;
    }
    
    .carousel-control-prev{
        width: 1%;
    }
}
